PORT=5000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/pqlfood?retryWrites=true&w=majority
JWT_SECRET=change-me-to-a-long-random-string
ADMIN_EMAIL=admin@pqlfood.vn
ADMIN_PASSWORD=admin123
